<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #fde9df; /* Light Peach */
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        p {
            color: #0881a3; /* Teal color */
            font-size: 24px;
        }
    </style>
</head>

<body>
    <p>You are logged out</p>
</body>

</html>
